<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#780000"/>
    <link rel="apple-touch-icon" href="/icons/icon192x192.png">
    <meta name="description" content="Create:A.N. Abdul Rahman,Dicoding Academy 2021,Website Katalog Restaurant">
    <link rel="icon" href="favicon.png">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>The Resto</title>
</head>
<body>
  <to-konten></to-konten>
 <header-bar></header-bar>
 <hero-bar></hero-bar>
 <home-bar></home-bar>
 <main id="mainContent">
</main>
<modal-bar></modal-bar>
<footer-bar></footer-bar>
<to-top>/</to-top>
</body>
</html>