<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Create:A.N. Abdul Rahman,Dicoding Academy 2021,Website Katalog Restaurant">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Website</title>
</head>

<body>
    <a href="#konten" class="to-konten">To Konten</a>
    <header class="header">
        <a id="hamburger" class="hamburger_menu" href="#" aria-label="tombol">☰</a>
        <nav id="drawer" class="navbar">
            <img id="restologo" alt="Restaurant logo" title="restaurantlogo">
            <ul class="nav-list">
                <li class="nav-item"><a href="index.html">Home</a></li>
                <li class="nav-item"><a href="#">Favorite</a></li>
                <li class="nav-item"><a target="_blank" rel="noopener"
                        href="https://www.linkedin.com/in/abdul-rahman-2737131a1/">About</a></li>
            </ul>
        </nav>
        <div class="hero">
            <div class="hero-inner">
                <h1 class="hero-tagline">
                    in food we trust
                </h1>
            </div>
        </div>
    </header>
    <main id="konten">
        <section class="container">
            <article class="tagpembuka">
                <figure class="figure-headline">
                    <img id="imgheadline" alt="BaristaHeadline">
                    <figcaption>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque, ex.
                    </figcaption>
                </figure>
                <div class="headline-content">
                    <h1 class="headline-tagline">The Resto</h1>
                    <p class="headline-dekor">Premium and Authentic Food</p>
                    <p class="headline-deskripsi">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Debitis
                        quisquam maiores deleniti cumque magnam eveniet dicta temporibus, eos veniam deserunt libero
                        expedita totam at, natus architecto impedit, quod voluptatibus. Reiciendis?</p>
                </div>
            </article>
            <div class="parallax">
            </div>
            <div id="post" class="post">
                <div id="main-konten" class="main-konten">

                </div>
            </div>
        </section>
    </main>
    <footer-bar></footer-bar>
</body>

</html>